.vscode
*.db
*.log*
output/
*.pyc
pocs/
input/
db/mongo/
web/uploads/domains/*.txt
web/uploads/organizations/*.txt
web/uploads/repositories/*.txt
*.drawio
*.swp
.env
*.DS_Store
*.egg-info
__pycache__/
*.egg
*.pyo
*.pyd